* {
    text-align: center;
}

.container {
    position: relative;
}

.title h1 {
    font-size: 25px;
    position: relative;
    bottom: 50px;
}

.menu .btnChoice {
    width: 150px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}

.pilih {
    font-size: 30px;
    top: 200px;
}

#num1,
#num2 {
    width: 50px;
}

#op {
    width: 20px;
}

#opLog {
    width: 60px;
}

#equal {
    margin: 5px;
    width: 66px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #37366B;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #191837;
}

.tmTape-wrapper {
    max-width: 1500px;
    min-height: 95px;
    overflow: auto;margin: 2em auto;
    padding: 1em 0 0;
    position: relative;
    display: flex;
    gap: 3px;
    align-items: flex-start;
    justify-content: start;
}

/* TM element */
.tmTape-wrapper>* {
    margin: 0;
    margin-bottom: 10px;
    padding: 0.5em 1em;
    font-size: 20pt;
    color: Black;
    border-radius: 5px;
    border: 1px solid #37366B;
    font-weight: normal;
}

.active {
    background-color: #2d00c3;
    color: #fff;
    font-weight: bolder;
}

/* button */
.btn {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid transparent;
    background-color: #37366B;
    color: #fff;
}

.btn:hover {
    background-color: #2d00c3;
    color: #fff;
    border: 3px solid #37366B;
}
